@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a tu sistema Prueba técnica  BCP</h1>
    <p>
        <a href="https://www.viabcp.com/" target="_blank">
            Mientras más grandes seamos como personas, más grande será el BCP.
        </a>
    </p>
</div>
